# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ARMADA_LEFT
	def_bool $(shields_list_contains,armada_left)

config SHIELD_ARMADA_RIGHT
	def_bool $(shields_list_contains,armada_right)

config SHIELD_ARMADA_DONGLE
	def_bool $(shields_list_contains,armada_dongle)
